<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chencx.dynamicdatabasespringboot.mapper.TLineNameMapper">

    <resultMap id="BaseResultMap" type="com.chencx.dynamicdatabasespringboot.model.domain.TLineName">
            <id property="LINENO" column="LINENO" jdbcType="VARCHAR"/>
            <result property="ISCHECKED" column="ISCHECKED" jdbcType="OTHER"/>
            <result property="LINENAME" column="LINENAME" jdbcType="VARCHAR"/>
            <result property="LINECODE" column="LINECODE" jdbcType="VARCHAR"/>
            <result property="LINECOMMENT" column="LINECOMMENT" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        LINENO,ISCHECKED,LINENAME,
        LINECODE,LINECOMMENT
    </sql>
</mapper>
